<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Task</h1>
    <form method="POST">
        <input 
            type="text" 
            name="task"
            value="{{ task[1] }}"
        >

        <select name="priority">

            <option value="High" {% if task[2] == 'High' %}selected{% endif %}>
                High
            </option>

            <option value="Medium" {% if task[2] == 'Medium' %}selected{% endif %}>
                Medium
            </option>

            <option value="Low" {% if task[2] == 'Low' %}selected{% endif %}>
                Low
            </option>
        </select>
        
        <button type="submit">
            Update Task
        </button>
        
</body>
</html>